.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: transparent; 
}

.content-area.content-com-menu {
  margin-left: 320px; 
  width: calc(100% - 320px);
  padding: 20px 40px 20px 0; 
  transition: all 0.3s;
}

.content-area {
  width: 100%;
  margin-left: 0;
  padding: 0;
}