.modal-container {
  background-color: #1e293b; 
  padding: 20px;
  border: 1px solid #334155;
  border-radius: 8px;
  min-width: 350px;
}

/* Título */
h2 {
  color: white;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-shadow: 0 0 10px rgb(0, 217, 255);
}

.subtitle {
  color: #94a3b8;
  text-align: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
  font-family: monospace;
}

/* Inputs Estilizados */
.input-cyber {
  display: flex;
  align-items: center;
  background: #0f172a;
  border: 1px solid #334155;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.input-cyber:focus-within {
  border-color: #06b6d4;
  box-shadow: 0 0 8px rgba(6, 182, 212, 0.3);
}

.input-cyber mat-icon { color: #06b6d4; margin-right: 10px; }

.input-cyber input {
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  outline: none;
  font-size: 1rem;
}

/* Botões */
button {
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.2s;
}

.btn-cancel {
  background: transparent;
  color: #f87171;
  border: 1px solid rgba(248, 113, 113, 0.3);
  margin-right: 10px;
}
.btn-cancel:hover { background: rgba(248, 113, 113, 0.1); }

.btn-confirm {
  background: linear-gradient(90deg, #06b6d4, #3b82f6);
  color: white;
  box-shadow: 0 0 15px rgba(6, 182, 212, 0.3);
}
.btn-confirm:hover { transform: translateY(-2px); }
.btn-confirm:disabled { opacity: 0.5; cursor: not-allowed; transform: none; }